/* nunito-sans font family from dafont.com */
@font-face {
    font-family: "Nunito Sans";
    src: url('fonts/NunitoSans_10pt-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('fonts/NunitoSans_10pt-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Nunito Sans";
    src: url('fonts/NunitoSans_10pt-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

* {
    margin: 0;
    /* all margins: 0 */
    padding: 0;
    /* all padding: 0 */
    box-sizing: border-box;
    /* include padding and border within element total width and height */
    text-decoration: none;
    /* no text underline */
    font-family: 'Nunito Sans', sans-serif;
    /* primary font: nunito sans, fallback to sans-serif */
    list-style-position: inside;
    /* make bullet points or number appear inside content box of list item */
}

body {
    background-color: #F1EFEC;
    /* change background color for entire page */
    overflow-x: hidden;
    /* prevent horizontal scrolling */
    height: 100%;
    /* take up full viewport height */
}

.page {
    width: 100%;
    /* make page width take up full width of its container */
    height: 100%;
    /* make page height take up full height of its container */
}

header {
    width: 100%;
    /* adjust width to be 100% of its container */
    padding: 1rem 9%;
    /* top and bottom padding: 1rem, left and right padding: 9% */
    display: flex;
    /* uses flexbox */
    justify-content: space-between;
    /* distribute space evenly between items */
    align-items: center;
    /* vertically center items within header */
}

nav button {
    width: 150px;
    /* set fixed width for navigation buttons */
    height: 45px;
    /* set fixed height for navigation buttons */
    font-size: 1em;
}

nav button::before {
    content: '';
    /* create pseudo-element to place icons */
    position: absolute;
    /* position absolutely relative to button */
    display: block;
    /* pseudo-element behaves like a block */
    background-image: url('images/css_sprites.png');
    /* using sprite sheet for icons */
    background-repeat: no-repeat;
    /* prevent background from repeating */
}

nav button.homeSprite::before {
    width: 35px;
    /* set sprite width */
    height: 35px;
    /* set sprite height */
    background-position: -10px -10px;
    /* position of home icon in the sprite sheet */
}

nav button.ruleSprite::before {
    width: 35px;
    height: 35px;
    background-position: -65px -10px;
    /* position of rules icon in the sprite sheet */
}

nav button:hover {
    background-color: #123458;
    /* change background color on hover */
    color: white;
    /* change text color on hover */
}

h1 {
    color: #030303;
    font-size: 2.2em;
    font-weight: 700;
}

h2 {
    color: #123458;
    text-align: center;
    /* align text to center */
    font-size: 1.8em;
    font-weight: 600;
    margin: 40px 0 20px 0;
    /* set top margin to 40px, right and left margin to 0px and bottom margin to 20px */
}

h3 {
    color: #030303;
    font-size: 1.5em;
    font-weight: 400;
}

h4 {
    color: #030303;
    font-size: 1.3em;
    font-weight: 400;
}

p,
li,
figcaption {
    color: #030303;
    font-size: 1.2em;
    font-weight: 400;
}

figcaption {
    text-align: center;
}

button {
    color: black;
}

nav ul li {
    display: inline;
    /* make elements line up side by side */
}

#menuBtn {
    display: none;
    /* dont show menu when breakpoint is >800px */
}

footer {
    margin: 80px 80px 20px 120px;
}

.intro,
.types,
.equipment,
.rules,
.scoring,
.terminology-table,
.technique-intro-content,
.accordion-text,
.form,
.quiz {
    margin: 20px 80px 20px 120px;
}

.intro-content,
.types-content,
.equipment-content,
.rules-content,
.scoring-content,
.technique-intro-content,
.accordion-text,
.form-content {
    display: flex;
    /* using flexbox */
    align-items: flex-start;
    /* align items at the top of container */
}

.intro-text,
.types-text,
.equipment-text,
.rules-text,
.scoring-text,
.form-text {
    display: flex;
    /* using flexbox */
    flex-direction: column;
    /* arrange children vertically from top to bottom */
    margin-bottom: 20px;
}

.intro img,
.types img {
    margin-left: 50px;
    max-width: 100%;
    /* ensure image does not exceed container width */
    vertical-align: top;
    /* aligns top of image to the top of container */
}

.types img {
    margin-left: 30px;
}

.history-content {
    display: flex;
    /* uses flexbox */
    justify-content: center;
    /* center items horizontally along main axis */
    align-items: center;
    /* center items vertically along cross axis */
    gap: 20px;
    /* set 20px space between flex items */
}

.history h3 {
    text-align: center;
}

.history-text {
    max-width: 500px;
    margin: 0 20px;
    /* top and bottom margin: 0; left and right margin: 20 */
    text-align: center;
}

.history img {
    width: auto;
    /* automatically adjust width to maintain aspect ratio */
    height: 200px;
    /* set fixed height */
}

.equipment-text {
    flex: 1;
    /* make flex item gor and fill available space equally */
}

.slider {
    position: relative;
    width: 100%;
    /* take up full width of its container */
    margin: auto;
    /* center element horizontally within its container */
    overflow: hidden;
    /* hide slides outside visible area */
    flex: 1;
}

.slides {
    width: 100%;
    height: auto;
    /* make height adjust automatically */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D4C9BE;
}

.slider img {
    display: none;
    /* hide all images by default */
}

img.displaySlide {
    display: block;
    /* show active image */
    animation-name: fade;
    /* apply fade animation*/
    animation-duration: 1.0s;
    /* animation lasts for 1 second */
}

.slider button {
    position: absolute;
    top: 50%;
    /* move top edge of button to center of container */
    transform: translateY(-50%);
    /* shifts button up by half of its own height to ccenter it vertically */
    font-size: 1.2rem;
    padding: 10px 15px;
    /* top and bottom padding: 10; left and right padding: 15 */
    background-color: rgba(0, 0, 0, 0.5);
    /* change background color to black but with 50% transparency */
    color: white;
    border: none;
    /* remove borders */
    cursor: pointer;
    /* shows hand cursor on hover */
}

.prev {
    left: 25px;
    /* move prev button 25px from left edge */
}

.next {
    right: 25px;
    /* move next button 25px from right edge */
}

.dots {
    text-align: center;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    /* make square into circle by rounding each corner by 50% of element width and height */
    display: inline-block;
    /* let elements sit side by side */
}

.dot.active {
    background-color: #717171;
}

@keyframes fade {

    /* fade animation from semi transparent to fully visible */
    from {
        opacity: 0.5
            /* start at 50% transparency */
    }

    to {
        opacity: 1
            /* end at full opacity */
    }
}

.rules-text {
    flex: 1;
}

.rules-text ol {
    text-align: center;
}

.rules-video {
    flex: 1;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    width: 100%;
    /* 16:9 aspect ratio 100% width */
    height: auto;
    padding-top: 56.25%;
    /* padding-top = 9 / 16 times 100% = 56.25% */
    margin-left: 30px;
}

.rules-video iframe {
    /* iframe fit in video container div with full height and width */
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.scoring-content figure {
    margin-left: 30px;
}

table,
th,
td {
    text-align: center;
    border: 1px solid black;
    font-size: 1.1em;
}

/* css for quiz */
fieldset,
#submitBtn,
#resetQuizBtn,
#scoreBox {
    font-size: 1.1em;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* technique section */
#page4 h3 {
    text-align: center;
}

.technique-intro-content {
    text-align: center;
}

.accordion {
    width: 100%;
}

.accordion-container {
    display: flex;
    flex-wrap: wrap;
    /* wrap to new line if needed */
    gap: 20px
}

.accordion-item {
    margin-bottom: 5px;
    flex: 0 1 calc(50% - 10px);
    /* two elements per row, accounting for gap */
    padding: 0.5rem;
}

.accordion-header {
    padding: 10px;
    background-color: #D4C9BE;
    cursor: pointer;
    text-align: center;
}

.accordion-content {
    /* hidden by default with expand/collapse animation */
    max-height: 0;
    /* starts collapsed */
    transition: max-height 0.3s ease;
    /* animate height changes */
    padding: 0 10px;
    /* left and right padding only */
    overflow: hidden;
    /* hide content that exceeds max-height */
    background-color: #D4C9BE;
    border-bottom-left-radius: 10px;
    /* rounded bottom corners */
    border-bottom-right-radius: 10px;
    text-align: center;
}

.accordion-content.active {
    padding: 10px;
    /* full padding when expanded */
    max-height: 1000px;
    /* to show all content */
}

/* qr code css */
.imgAlign {
    display: flex;
    justify-content: center;
    /* center qr code horizontally */
}

#btnFS,
#btnWS {
    font-size: 1.1em;
}

/* css for bowling game */
#page5 h2 {
    color: #030303;
}

.message {
    position: absolute;
    width: 100px;
    font-size: 3em;
    font-weight: 600;
    color: #123458;
    top: 300px;
    /* position 300px from top */
    left: calc(50% - 70px);
    /* center horizontally by shifting left by half element's width */
    z-index: 1;
    /* layer above other content */
}

.pins-wrapper {
    margin: auto;
    margin-top: 100px;
    padding: 10px;
    height: fit-content;
    /* adjust height to match content size */
}

.row {
    display: flex;
    flex-direction: row;
    /* arrange items horizontally */
    justify-content: center;
    height: 25px;
}

.lane {
    position: relative;
    top: -150px;
    /* move element up by 150px */
    height: 400px;
    width: 300px;
    background-color: bisque;
    margin: auto;
    transform: perspective(100px) rotateX(10deg);
    /* 3d perspective with slight forward tilt */
    z-index: -1;
    /* layer behind other elements */
}

.pin {
    margin: 5px;
    height: 50px;
    width: 30px;
    border-radius: 50% 50% 40% 40%;
    /* rounded top and slightly less rounded bottom corner for pin shape; top-left and right: 50% rounded; bottom right and left: 40% rounded */
    border: solid black;
    /* black outline around pin */
    background: radial-gradient(white 0 50%, gray 90%);
    /* uses gradient fill, white 0 50% - center up to 50% is while; grey 90% - gradually change to gray from 50% to 90%; by 90% - color is fully grey*/
}

.pin::before {
    display: block;
    position: relative;
    top: -32px;
    /* move up 32px to position correctly on .pin */
    left: 1px;
    /* move right by 1px for alignment */
    content: '';
    /* create a pseudo-element to place top of pin */
    height: 20px;
    width: 20px;
    border: solid black;
    border-radius: 50%;
    /* make a circle */
    background: radial-gradient(white 0 50%, gray 90%);
}

.pin::after {
    display: block;
    position: relative;
    content: '';
    /* create pseudo-element to place middle of pin */
    top: -35px;
    /* move up 35px to position correctly on .pin */
    left: 5px;
    /* move right by 5px for aligment */
    width: 12px;
    height: 14px;
    /* 2 layered linear gradient to create pattern */
    background: linear-gradient(90deg, gray 2%, transparent 30% 70%, gray 96%), linear-gradient(white 0 30%, red 30% 40%, white 40% 60%, red 60% 70%, white 70%);
    /* first linear gradient: horizontal gradient, grey starting at 25%, transparent in middle area from 30% to 70%, grey near the edge */
    /* second linear gradient: white top 30%, red area from 30% to 40%, white from 40% to 60%, red area from 60% to 70%, white below 70% */
    border: solid black;
    border-top: none;
    /* remove top border */
    border-bottom: none;
    /* remove bottom border */
}

.ball {
    position: absolute;
    top: 400px;
    left: calc(50% - 30px);
    /* center ball horizontally (offset by 30px) */
    height: 60px;
    width: 60px;
    background: radial-gradient(ellipse at right bottom, white, blue, black);
    /* ellipse - gradient oval-shaped based on element size, at right bottom - starts gradient at bottom right corner, color go from white to blue to black */
    border-radius: 50%;
    /* makes a circle */
    border: solid black;
    cursor: grab;
    /* cursor becomes a grab hand on hover */
    z-index: 1;
    /* layer above elements with lower z-index */
}

.ball:active {
    cursor: grabbing;
    /* cursor becomes a grabbing hand when ball is clicked or dragged */
}

.ball::after {
    display: block;
    position: relative;
    content: '..';
    /* shows 2 dots inside the ball */
    transform: rotate(45deg);
    /* rotate dots by 45 deg */
    height: 30px;
    width: 20px;
    border-radius: 50%;
    color: white;
    /* set text '..' to white */
    font-size: 40px;
    top: 10px;
    /* move down by 10px */
    left: 20px;
    /* move right by 20px */
}

.ball-guide {
    background-color: powderblue;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 400px;
    left: calc(50% - 5px);
}

.fall-left {
    animation-name: fall-left;
    /* uses keyframes named 'fall-left' */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* keep final state after animation ends */
}

.fall-right {
    animation-name: fall-right;
    /* uses keyframes named 'fall-right' */
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.roll {
    animation-name: roll;
    /* uses keyframes named 'roll' */
    animation-duration: 2s;
}

.hidden {
    /* hide message by default */
    display: none;
}

@keyframes fall-left {
    to {
        transform: rotateZ(-90deg) translateY(-100px);
        /* rotates left and moves upward */
    }
}

@keyframes fall-right {
    to {
        transform: rotateZ(90deg) translateY(-100px);
        /* rotates right and move upwards */
    }
}

@keyframes roll {
    to {
        transform: rotate(350deg) scale(0.7);
        /* spins almost full circle and shrinks to give illusion of depth as ball rolls away */
    }
}

#controls {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    z-index: 2;
}

#resetBtn,
#spawnBtn {
    font-weight: bold;
    padding: 8px 16px;
    font-size: 1.1em;
}

@media (max-width: 800px) {
    /* if width <= 800px */

    nav ul li {
        display: block;
    }

    #menuBtn {
        display: block;
    }

    nav ul {
        display: none;
    }

    h1 {
        font-size: 1.7em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4,
    legend {
        font-size: 1.1em;
    }

    p,
    li,
    figcaption,
    fieldset,
    table,
    th,
    td,
    #submitBtn,
    #resetQuizBtn,
    #scoreBox,
    #resetBtn,
    #spawnBtn {
        font-size: 1em;
    }

    footer {
        margin: 60px 20px 20px 20px;
    }

    .intro,
    .types,
    .equipment,
    .rules,
    .scoring,
    .quiz,
    .terminology-table,
    .technique-intro-content,
    .accordion-text,
    .form {
        margin: 20px 20px 20px 20px;
    }

    .intro-content,
    .types-content,
    .equipment-content,
    .rules-content,
    .scoring-content,
    .technique-intro-content,
    .accordion-text,
    .form-content {
        display: flex;
        flex-direction: column;
        /* arrange items vertically from top to bottom */
        align-items: center;
    }

    .intro-text,
    .types-text,
    .equipment-text,
    .rules-text,
    .scoring-text,
    .accordion-text,
    .form-text {
        align-items: center;
        text-align: center;
        flex: 100%;
    }

    .intro img {
        margin-left: 0;
    }

    .types img {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .rules-video {
        margin-left: 0px;
    }

    .scoring-content figure {
        margin-left: 0;
    }

    .accordion-item {
        flex: 1 1 100%;
        /* allow item to gorw, shrink and start with full width of container */
    }

    .imgAlign img {
        /* hide QR code on mobile */
        display: none;
    }

    #page5 {
        overflow-x: hidden;
        /* prevent horizontal scrolling */
    }

    .pins-wrapper {
        width: 100%;
        margin: 100px auto 0 auto;
    }

    .pin::before {
        left: 0;
    }

    .pin::after {
        left: 0;
        transform: translateX(3.5px);
        /* move middle of pin right by 3.5px */
    }

    .ball {
        touch-action: none;
        /* disable default touch behaviours like zooming on touch devices */
    }
}

.menuShow {
    display: block;
}
